*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bc-header: rgb(255, 99, 71, 0.3);
  --bc-body: rgb(255, 99, 71, 0.1);
  --bc-body-2: rgb(255, 99, 71, 0.1);
  --form-borders: rgba(0, 0, 0, 0.3);
  --text-color: rgba(126, 79, 79, 0.607);
}

body {
  display: grid;
  grid-template-rows: 1fr 6fr 6fr 0.3fr;
  grid-template-columns: minmax(200px, 200px) 6fr;
  background-color: var(--bc-body);
  color: var(--text-color);
  height: 100vh;
}

button {
  cursor: pointer;
}

/*header*/
header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--bc-header);
  padding: 20px;
}

header h1 {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

/*left content*/
#left-content {
  grid-area: 2 / 1 / 4 / 2;
  background-color: var(--bc-body-2);
  display: flex;
  justify-content: center;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#li1 {
  list-style-type: "🏠";
  padding: 10px;
}

#li2 {
  list-style-type: "📥";
  padding: 10px;
}

#li3 {
  list-style-type: "📅";
  padding: 10px;
}

#li4 {
  list-style-type: "🚩";
  padding: 10px;
}

#li5 {
  list-style-type: "⛶";
  padding: 10px;
}

#li6 {
  list-style-type: "+";
  padding: 10px;
}

ul li button {
  background-color: none;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

/*right content*/
#right-content {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
}

#right-content #addProjectBtn {
  margin-left: 250px;
  background: none;
  border: none;
  color: var(--text-color);
}

#right-content #addProjectBtn::before {
  content: "+";
  margin: 5px;
}

#right-content #addProjectBtn:hover {
  cursor: pointer;
}

/*footer*/
footer {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

footer a:hover {
  text-decoration: 1px underline var(--text-color);
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}

footer a:visited {
  color: var(--text-color);
}

/*form div element*/

form {
  border: 1px solid var(--form-borders);
  width: 500px;
  height: 350px;
  border-radius: 8px;
  padding: 5px;
  gap: 5px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.formDiv1 {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

form input,
form select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--form-borders);
}

#createProjectForm {
  margin-top: 0;
}

.formDiv3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  border-top: 1px solid var(--form-borders);
  padding: 8px;
  padding-top: 20px;
  gap: 5px;
}

.formDiv3 button {
  padding: 3px 15px;
  border: 1px solid var(--form-borders);
  border-radius: 3px;
}

#dueDate {
  cursor: pointer;
}

.formDiv2 {
  padding: 0;
  margin: 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  color: var(--text-color);
}

.listItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  height: 150px;
  gap: 10px;
}

.todoListInputContainer {
  padding: 0;
  margin: 0;
  border: 1px solid var(--form-borders);
  border-radius: 16px;
}

.todoListInputContainer input {
  width: 150px;
}

.todoListInputContainer button {
  width: 50px;
}

.todoListInputContainer input,
.todoListInputContainer button {
  border: none;
  background: none;
  outline: none;
  color: black;
}

.todoListInputContainer button:hover {
  scale: 1.5;
  transition: 500ms;
}

.listItemDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: black;
}

.allProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px;
}

.projectContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 8px;
  color: black;
  border-radius: 5px;
  border: 1px solid var(--form-borders);
  min-width: 200px;
  min-height: 100px;
}

.projectContainer:hover {
  cursor: pointer;
}

.titleAndDateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 30px;
}

.currentWeekAndDay {
  padding-bottom: 0;
}

.noProjects {
  margin-left: 50px;
}

.Header,
.todoList,
.Notes {
  background-color: white;
}

.todoListandNotes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
  height: 100%;
  margin: 10px 10px 0 10px;
  color: black;
}

.todoList,
.Notes {
  width: 500px;
  border-radius: 5px;
  border: 1px solid var(--form-borders);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Header {
  margin: 0 10px 25px 10px;
  height: 50px;
  color: black;
  border-radius: 5px;
  border: 1px solid var(--form-borders);
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItemsContainer1 {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding: 15px;
  gap: 15px;
  align-items: flex-start;
}

.checkboxInput:checked + label {
  text-decoration: line-through;
}

.notesUL {
  margin: 15px;
}

.deleteBtn {
  background-color: red;
  align-self: center;
}
