*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bc-header: rgb(86, 157, 159);
    --bc-body: rgb(86, 157, 159, .5);
    --text-color: rgba(109, 11, 109, 0.452);
    --bc-body-2: rgb(86, 157, 159, .5);
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr 6fr .3fr;
    grid-template-columns: minmax(200px, 200px) 6fr;
    height: 100vh;
    background-color: var(--bc-body);
    color: var(--text-color);
}

/*header*/
header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--bc-header);
    padding: 20px;
}

header h1 {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

header h1::before {
    content: '✔️';
}


/*left content*/
#left-content {
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--bc-body-2);
    display: flex;
    justify-content: center;
    padding: 20px;
}

ul {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul li button {
    background-color: none;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

#addBtnli {
    list-style-type: none;
}

#addBtnli button {
    font-size: 2.3rem;
    margin-top: 50px;
}

/*right content*/
#right-content {
    grid-area: 2 / 2 / 3 / 3;
}

/*footer*/
footer {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: 1px underline var(--text-color);
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}

footer a:visited {
    color: var(--text-color);
}